# Solana Network Configuration
NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com
# NEXT_PUBLIC_USDC_MINT=EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v # mainnet
NEXT_PUBLIC_USDC_MINT=4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU # devnet
NEXT_PUBLIC_PROGRAM_ID=J6w1gENjjbx8XG6ECtwWqfjmoPFHwtz9wqx2jj84qk5t

# App Configuration
NEXT_PUBLIC_APP_NAME=Tradesee
NEXT_PUBLIC_APP_VERSION=0.1.0

# Development Settings
NEXT_PUBLIC_DEBUG_MODE=true
